@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@400;600;700&family=Poppins:wght@300;400;600&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100%;
}

.inside-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 100%;
}

.VAWC {
    font-family: 'Poppins', sans-serif;
    color: #292D96;
    font-weight: 600;
    font-size: 30px;
    margin-left: 40px;
}

.list-text {
    font-family: 'Poppins', sans-serif;
    color: #292D96;
    width: 285px;
    font-size: 20px;
    font-weight: 500;
}

#gender,
#type,
#perpetrator {
    font-family: 'Poppins', sans-serif;
    opacity: 70%;
}

.gender,
.type,
.perpetrator {
    font-family: 'Poppins', sans-serif;
    opacity: 50%;
}

.row-one {
    display: flex;
    gap: 120px;
    align-items: baseline;
}

.row-one-filter {
    display: flex;
    gap: 20px;
}

select {
  border: none;
  outline: none;
  background-color: transparent; /* optional if you want it to blend */
  font-family: 'Poppins', sans-serif; /* match your style */
  font-size: 14px;
  text-align: center;
}

.filter-group {
    border: 1px solid #D9D9D9;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}

.row-two {
    display: flex;
    gap: 105px;
    align-items: baseline;
}

.search {
    display: flex;
    background-color: #99BEFF;
    border-radius: 5px;
    padding: 1px;
}

.searchbar {
    border-radius: 5px;
    border: 2px solid #99BEFF;
    padding: 5px;
    width: 250px;
}

.search img {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.table-container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 450px; /* adjust as needed */
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}


.table-victims {
    width: 100%;
    border-collapse: collapse;
}

.table-victims th {
    background-color: #48486E;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.table-victims td {
    padding: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
