# === Python / Django ===
__pycache__/
*.py[cod]
*.sqlite3
*.log
local_settings.py

# Virtual environments
venv/
env/
.venv/

# === Node / React ===
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.env.test.local

# npm / yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === System ===
.DS_Store

# VSCode settings (optional)
.vscode/

# custom
/backend/media/face_samples/
/backend/media/photos/
/backend/media/victim_face_samples/
/backend/media/victim_photos/
