@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@400;600;700&family=Poppins:wght@300;400;600&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding: 5px 30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #464646;
  position: sticky;
  top: 0;
  z-index: 1000; /* ensures it stays above other elements */
}

/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
} */

.navbar-section {
  flex: 1;
  display: flex;
  align-items: center;
}

/* LEFT SECTION */
.left-section {
  justify-content: flex-start;
  gap: 15px;
}

.center-section {
  justify-content: center;
}

.right-section {
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: #333;
  white-space: nowrap;
}

/* TITLE TEXT */
.title {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #292D96;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

/* LOGO STYLES */
.DSWD-img {
  width: 100px;
  border-radius: 5px;
}

.iacat-img,
.iacvawc-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.date-time {
  margin: 0;
}


