html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100%;
}

.socialworker {
    font-family: 'Poppins', sans-serif;
    color: #292D96;
    font-weight: 600;
    font-size: 30px;
    margin-left: 40px;
}

.search {
    width: 300px;
}

.search-add {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    align-content: center;
}

.add-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 12px;
    border: none;
    background-color: #BFE6BE;
    color: white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #096C6E;
    font-size: 18px;
    font-weight: 500;
}

.add-button .icon {
    width: 16px;
    height: 16px;
}

.table-socialworker {
    width: 100%;
    border-collapse: collapse;
}

.table-socialworker th {
    background-color: #48486E;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.table-socialworker td {
    padding: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

