.servicetext {
    font-family: 'Poppins', sans-serif;
    color: #292D96;
    font-weight: 600;
    font-size: 30px;
    margin-left: 40px;
}

#service {
    font-family: 'Poppins', sans-serif;
    opacity: 70%;
}

.service {
    font-family: 'Poppins', sans-serif;
    opacity: 50%;
}