.notification {
    font-family: 'Poppins', sans-serif;
    color: #292D96;
    font-weight: 600;
    font-size: 30px;
    margin-left: 40px;
}

.table-notification {
    width: 100%;
    border-collapse: collapse;
}

.table-notification th {
    background-color: #48486E;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.table-notification td {
    padding: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
